In [1]:
# 1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

In [8]:
str="Pratham"
my_list=[1,2,3,4,5]
flo=3.23
tup=(2,3,"sharma",4,4.33)

print(str,my_list,flo,tup)

Pratham [1, 2, 3, 4, 5] 3.23 (2, 3, 'sharma', 4, 4.33)

In [10]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
# What will be the data type of the above given variable.

In [16]:
# 1) string 
# 2) String 
# 3) List 
# 4) float

float

In [17]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

In [20]:
# 1) / operator is used for division 
print(10/2)
# 2) % operator is used to find the remainder 
print(12/3)
# 3) // is used for the floor division
print(13//3)
# 4) ** is used for to find power 
print(2**4)

5.0
4.0
4
16

In [21]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

In [27]:
My_list=[1,2,"hello",3.22,2+4j,6,7,"pro","okay",10]
for i in My_list:
    print(i,"type -> ",type(i))

1 type ->  <class 'int'>
2 type ->  <class 'int'>
hello type ->  <class 'str'>
3.22 type ->  <class 'float'>
(2+4j) type ->  <class 'complex'>
6 type ->  <class 'int'>
7 type ->  <class 'int'>
pro type ->  <class 'str'>
okay type ->  <class 'str'>
10 type ->  <class 'int'>

In [28]:
# Q5.Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

In [1]:
a = int(input("Enter number a-> "))
b = int(input("Enter number b-> "))
count=0
while(a>0):
    a=a-b
    count=count+1

if(a==0):
    print("purely divisible")
    print("count =",count)

else:
    print("Not purely divisible")

purely divisible
count  3

In [ ]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

In [3]:
Lis=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,117,18,19,20,21,22,23,24,25]
for i in Lis :
    if(i%3==0):
        print(i," -> "," divisible by 3")
    else:
        print(i," -> "," Not divisible by 3")

1  ->   Not divisible by 3
2  ->   Not divisible by 3
3  ->   divisible by 3
4  ->   Not divisible by 3
5  ->   Not divisible by 3
6  ->   divisible by 3
7  ->   Not divisible by 3
8  ->   Not divisible by 3
9  ->   divisible by 3
10  ->   Not divisible by 3
11  ->   Not divisible by 3
12  ->   divisible by 3
13  ->   Not divisible by 3
14  ->   Not divisible by 3
15  ->   divisible by 3
16  ->   Not divisible by 3
117  ->   divisible by 3
18  ->   divisible by 3
19  ->   Not divisible by 3
20  ->   Not divisible by 3
21  ->   divisible by 3
22  ->   Not divisible by 3
23  ->   Not divisible by 3
24  ->   divisible by 3
25  ->   Not divisible by 3

In [ ]:
# Q7. What do you  understand about mutable and immutable data types? Give examples for both showing
# this property.

# Note: Create your assignment in Jupyter notebook and upload it to GitHub & share that github repository
# link through your dashboard. Make sure the repository is public.

In [5]:
# Mutable datatypes are which we can modified the value but in immutable datatype we can't modify the value.
# mutable
v=[1,3,4,5,6,7,8,9,10,11]
v[1]=100
print(v)

# immutable
m="hello"
m[0]="f"
print(m)

[1, 100, 4, 5, 6, 7, 8, 9, 10, 11]

TypeError: 'str' object does not support item assignment